@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root{
  --lightblack: #515c6f;
  --white: #ffffff;
  --lightbshadow: rgba(0, 0, 0, 0.364); 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background: #c8bcc6;
}
.box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.music {
  position: relative;
  /*background: #c8bcc6;*/
  background: linear-gradient(to right, #fc5c7d, #6a82fb);
  width: 25rem;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.342);
  overflow: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.header .fa {
  color: var(--white);
  font-size: 1.6rem;
}
.fa-music {
  cursor: pointer;
}
.header .fas {
  color: var(--white);
  font-size: 1.6rem;
}
.fa-bars {
  cursor: pointer;
}
.header h2 {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 400;
}
.details {
  margin: 2rem 0;
  text-align: center;
}
.track-art {
  margin: auto;
  height: 250px;
  width: 70%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 12px var(--lightbshadow);
  -webkit-box-shadow: 0px 6px 12px var(--lightbshadow);
  box-shadow: 0 0 0 5px #ffffff,
    0 0 2px #fff,
    13px 13px 20px #31313163,
    -10px -10px 20px #e6f6ff;
}
.details .title {
  margin-top: 15px;
  font-size: 21px;
  color: var(--white);
  font-weight: 600;
}
.details .artist {
  font-size: 18px;
  line-height: 35px;
  font-weight: 600;
  line-height: 35px;
  color: var(--white);
}
.buttons {
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  font-size: 10px;
  justify-content: space-evenly;
}
.repeat-track .random-track .playpause-track, .prev-track, .next-track {
  padding: 25px;
  opacity: 0.9;
  transition: opacity .2s;
}
.repeat-track:hover, .random-track:hover, .playpause-track:hover, .prev-track:hover, .next-track:hover {
  opacity: 1.0;
}
.random-active {
  color: black;
}
.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Modify the appearance of the slider */
.seek_slider{
  font-size: 13px;
  color: var(--lightblack);
} 
.volume_slider {
 color: rgb(87, 86, 86);
}
/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774FF;
  cursor: pointer;
  border-radius: 100%;
}
.seek_slider:hover, .volume_slider:hover {
  opacity: 1.0;
}
.seek_slider {
  color: white;
  width: 60%;
}
.volume_slider {
  width: 30%;
}
.current-time, .total-duration {
  color: var(--white);
  padding: 10px;
}
i.fa-volume-up {
  color: white;
  border-radius: 50%;
  padding: 10px;
}
i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
  cursor: pointer;
}

/* Music Playlist*/
.music-playlist{
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  border-radius: 15px;
  padding: 1rem;
  background: linear-gradient(to right, #fc5c7d, #6a82fb);
  transform: translateX(-100%);
  transition: all 0.5s;
  z-index: 1;
}
.playlist-header {
  color: var(--white);
  padding: 5px 0;
  border-bottom: 1px solid var(--lightblack);
}
.playlist-header .fa-times {
  cursor: pointer;
}
.playlist-div {
  width: 100%;
  height: 80vh;
  overflow-y: auto;
}

/* Plalist Scroll Bar */
.playlist-div::-webkit-scrollbar {
  height: 5px;
  width: 4px;
  border: 1px solid #d5d5d5;
  background: #d5d5d5;
}
.playlist-div::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.playlist-div::-webkit-scrollbar-thumb {
  outline: 1px solid #eee;
}
.playlist {
  display: flex;
  align-items: center;
  color: var(--white);
}
.song-index {
  font-size: 1.4rem;
  margin-right: 5px;
}
.playlist p {
  width: 90%;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--lightblack);
  padding: 5px 0;
  cursor: pointer;
}
.loader {
  padding-top: 15px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .stroke{
  background: #f1f1f1;
  height: 120%;
  width: 8px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1s linear infinite;
}
@keyframes animate {
  30% {
    height: 20%;
    background: #79397d;
  }
  50% {
    height: 50%;
    background: #93438b;
  }
  100% {
    background: #87267a;
    height: 100%;
  }
}
.stroke:nth-child(1){
  animation-delay: 0s;
}
.stroke:nth-child(2){
  animation-delay: 0.6s;
}
.stroke:nth-child(3){
  animation-delay: 0.2s;
}
.stroke:nth-child(4){
  animation-delay: 0.4s;
}
.stroke:nth-child(5){
  animation-delay: 0.8s;
}
.stroke:nth-child(6){
  animation-delay: 0.4s;
}
.stroke:nth-child(7){
  animation-delay: 0.2s;
}
.stroke:nth-child(8){
  animation-delay: 0.6s;
}
.stroke:nth-child(9){
  animation-delay: 0s;
}