*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ff008c, #ff5900);
  color:white;
  padding: 10px;
}
.calculator{
  width: 600px;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  background: lightgray;
  font-weight: 700;
}
h1{
  font-size: 40px;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
  color: navy;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.calculator label{
  display: block;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 10px;
}
.calculator input{
  padding: 10px;
  width: 300px;
  border: 2px solid rgba(0, 0, 0, 0.204);
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.calculator button{
  padding: 10px;
  width: 200px;
  margin: 5px;
  font-size: 20px;
  border: 0;
  background: #000080;
  font-family: Arial, sans-serif;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}
#current_Age{
  background: navy;
  color: whitesmoke;
  padding: 10px;
  font-size: 22px;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto 15px;
 
}
